* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 480px;
    width: 330px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 10px rgb(64, 107, 109);
}
#btn {
   position: absolute;
   margin-top: 10px;
   margin-left: 10px;
   cursor: pointer;
   content-visibility: hidden;
}

#stories {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#stories::-webkit-scrollbar{
    display: none;
}

.story {
    height: 90px;
    width: 90px;
    background: linear-gradient(yellow, orange, red, purple);
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#screen {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}